<header class="bg-primary">
    <nav class="container">
        <a href="/" class="text-white">
            <h1>
                <!-- <img src="./圖片.jpg" alt="" width=50 height=50> -->
                收藏部落格
            </h1>
        </a>
        
        <input type="text" placeholder="搜尋">
        <ul class="header-nav-list">
            <li>登入</li>
            <li>註冊</li>
            <li>
                <a class="text-white member-only" href="/articles">文章列表</a>
            </li>
            <li>
                <a class="text-white member-only" href="/post">新增文章</a>
            </li>
        </ul>
    </nav>
</header>