<header class="">
    <nav class="container">
        <h1>
            <!-- <img src="./圖片.jpg" alt="" width=50 height=50> -->
            <a href="/" class="">
                蒐藏故事館
            </a>
            
        </h1>
        
        <div class="searchBar">
            <div class="searchBar-input-group">
                <input type="text" class="keyWordSearch" placeholder="">
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </div>
            
        </div>
        
        <ul class="header-nav-list">
            <li class="member-only">
                <a class="memberLink" href="/member">
                    <img class="memberImg" width="30" height="32" src="https://lh3.googleusercontent.com/a/AATXAJzEfmaKrkMGShzwYDv8nixCyyyWHd9wDi7Iig6a=s96-c" alt="">
                </a>
            </li>

            <!-- <li class="member-only">
                <a class=" logoutBtn" href="" >登出</a>    
            </li> -->
            <li class="visitor-only signin">
                <a class="" href="/signin">登入</a>    
            </li>
        
            <li>
                
                <a class="" href="/articles">
                    <i class="fas fa-eye"></i>
                    <span class="phoneHidden">瀏覽蒐藏</span>
                    
                </a>
            </li>
            <li class="member-only">
                <a class="" href="/post">
                    <i class="fas fa-pencil-alt"></i>
                    <span class="phoneHidden">分享蒐藏</span>
                </a>
            </li>

            <li class="collapase">
                <ul>
                    <li>
                        <a class="toMember" href="" class="">
                            <i class="bi bi-person-circle"></i>
                            個人檔案
                        </a>
                    </li>
                    <li>
                        <a href="/account/edit" class="">
                            <i class="bi bi-pencil-square"></i>
                            編輯個人檔案
                        </a>
                    </li>
                    <li>
                        <a class="logoutBtn" href="" >
                            <i class="bi bi-x-octagon"></i>
                            登出
                        </a>    
                    </li>
                </ul>
            </li>
            
        </ul>
    </nav>
</header>

