<%- include('includes/head') -%>
<title>文章列表</title>
<link rel="stylesheet" href="../public/css/articles.css">
</head>

<body class="bg-primary-light">
<%- include('includes/header') -%>


<div class="index-main container">
    <main>
        <div class="showSettings">
            <div class="tagGroup">
                <a href="">tomica</a>
                <a href="">航海王</a>
            </div>
            <div class="sortGroup">
                <select name="" id="">
                    <option value="">發布時間 近-遠</option>
                    <option value="">發布時間 遠-近</option>
                    <option value="">依照讚數 多-少</option>
                    <option value="">依照讚數 少-多</option>
                </select>
            </div>
        </div>
       
        <ul class="main-list">
            <!-- <li>
                    <img class="main-list-coverPhoto" src="../public/images/圖片.jpg" alt="">
                <a href="/artice?articleid=1">
                    <div class="main-list-summary">
                        <h3 class="main-list-author">
                            <a href="#">aru0828</a>     
                        </h3>
                    
                        <h3 class="main-list-title">Mini GT civic</h3>
                        <p  class="main-list-price">$1200</p>                 
                        <h3 class="main-list-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, voluptatum ea? Veritatis impedit accusantium ea? Pariatur accusantium sapiente sequi fugiat?</h3>               
    
                        <div class="main-list-features">
                            <i class="bi bi-hand-thumbs-up"></i>
                            <i class="bi bi-chat-dots"></i>
                            <p class="main-list-date">2021/06/20</p>
                        </div>
                    </div>        
                </a>
               
            </li> -->

        </ul>
    </main>
    

    <aside class="asideBar  px-3">
        <h3>發現有趣的收藏</h3>
        <ul class="aside-list">
            <li>
                <!-- <div class="newPost-info">
                    <img src="../public/images/圖片.jpg" alt="" with="120" height="120">
                    <div>
                        <h3 class="newPost-title">Mini GT civic</h3>
                        <span  class="newPost-price">$1200</span>
                    </div>
                </div> -->
                
                <!-- <div class="newPost-summary">
                    <h3 class="newPost-description mb-3">Lorem, ipsum dolor sit ameusantium ea? Pariatur accusantium sapiente sequi fugiat?</h3>  
                </div> -->
                
            </li>
        </ul>
        
        </aside>
</div>

<%- include('includes/footer') %>



</body>
<script type="module" src="../public/js/articles.js"></script>
</html>
