<%- include('includes/head') -%>
<title>蒐藏故事館</title>
<link rel="stylesheet" href="../public/css/article.css">
</head>

<body class="bg-primary-light">
<%- include('includes/header') -%>


<div class="index-main container article-main main">
    
    <main>
         <div class="article">
                <div class="article-header">
                    <a class="author" >
                        <img src="../public/images/default-user-icon.jpg" alt="" width="70" height="70">
                        <div>
                            <h3></h3>
                            <p class="article-create-time"></p>
                        </div>
                        
                    </a>
                    <div class="features">
                        <i class="bi bi-three-dots">
                            <ul class="author-feature-collapase collapase">
                                <li>
                                    <a href="" class="author-feature author-feature-edit">編輯文章</a>
                                </li>
                                <li>
                                    <a href="" class="author-feature author-feature-del">刪除文章</a>
                                </li>
                            </ul>
                        </i>         
                    </div>
                </div>
                <div class="article-tags"></div>
                <h2 class="article-title"></h2>
                <h2 class="article-summary"></h2>
                <h2 class="article-price"></h2>
                <div class="article-coverPhoto">
                    <img src="" alt="">
                </div>
              

                <div class="article-content">
                    
                </div>
            

                
                
                <div class="article-features">
                    <div class="article-features-box">
                        <i class="likeIcon bi"></i>
                        <p class="articleLikeQty">12</p>
                    </div>
                    
                </div>
        </div>
    </main>
    

    <aside class="asideBar">
        <h3 class="commentBoard-title">
            <i class="prev-currentCommentId  bi bi-arrow-return-left"></i>
            留言區
            <i class="cancel-currentCommentId bi bi-arrow-counterclockwise"></i>
        </h3>
        
        <div class="commentBoard">
            <h5 class="replyTo"></h5>
            <ul class="comments">
                <li class="comment">
                    <a href="">
                        <img src="" alt="">
                    </a>
                    <div class="comment-content">
                        <a href="林北疆"></a>
                        <div class="comment-info">
                            <p>一個讚</p>
                            <p>回復</p>
                            <p>2021-07-21</p>
                            
                        </div>
                        <a class="view-sub-comment">
                            <i class="fas fa-level-down-alt"></i>
                            <span>一則留言</span>
                        </a>
                    </div>
                    <i class="bi bi-herat"></i>
                </li>
            </ul>
        </div>

        <div class="article-comment-input">
            <img   alt="" class="user-avatar">
            <textarea name="" id="comment" cols="30" rows="1" placeholder="留言..."></textarea>
            <a href="" class="sendComment fas fa-share"></a>
        </div>
    
        
    </aside>
</div>

<%- include('includes/loading') %>
<%- include('includes/footer') %>



</body>
<script type="module" src="../public/js/layout.js"></script>
<script type="module" src="../public/js/article.js"></script>
</html>
