<%- include('includes/head') -%>
<title>文章列表</title>
<link rel="stylesheet" href="../public/css/article.css">
</head>

<body class="bg-primary-light">
<%- include('includes/header') -%>


<div class="index-main container article-main main">
    
    <main>
         <div class="article">
                <div class="article-header">
                    <a class="author" >
                        <img src="../public/images/default-user-icon.jpg" alt="" width="30" height="30">
                        <h3></h3>
                    </a>
                    <div class="features">
                        <i class="bi bi-three-dots">
                            <ul class="author-feature-collapase collapase">
                                <li>
                                    <a href="" class="author-feature author-feature-edit">編輯文章</a>
                                </li>
                                <li>
                                    <a href="" class="author-feature author-feature-del">刪除文章</a>
                                </li>
                            </ul>
                        </i>         
                    </div>
                </div>
                <h2 class="article-title">Tomica premium 23</h2>
                <h2 class="article-summary">Today is good day</h2>
                <div class="article-coverPhoto">
                    <img src="../public/images/photo-1416339134316-0e91dc9ded92.jpg" alt="">
                </div>
              

                <div class="article-content">
                    
                </div>
                
                <!-- <p class="show-comment">查看更多留言</p>
                <div class="article-comment">
                    <div class="commentRow">
                        <span class="comment-author">test</span> <span>好開心1234</span>
                        <i class="bi bi-heart"></i>
                    </div>
                    <div class="commentRow">
                        <span class="comment-author">test</span> <span>好開心1234</span>
                        <i class="bi bi-heart"></i>
                    </div>
                </div> -->

                <div class="article-create-time">發文時間 : 2019-23-32</div>
                <!-- <div class="article-comment-input">
                    <img src="../public/images/圖片.jpg" width="25" height="25" alt="" class="user-avatar">
                    <textarea name="" id="comment" cols="30" rows="1" placeholder="留言..."></textarea>
                    <a href="" class="sendComment" data-artid=1>發佈</a>
                </div> -->


                <div class="article-features">
                    <div class="article-features-box">
                        <i class="likeIcon bi"></i>
                        <p class="articleLikeQty">12</p>
                    </div>
                    
                    <!-- <div class="article-features-box">
                        <i class="bi bi-chat-dots"></i>
                        <p>12</p>
                    </div> -->
                    
                </div>

        </div>

        <!-- <div class="article-title h1"></div>
        <div class="author-info">
            <a href="" class="author-link">
                <img class="avatar" src="../public/images/圖片.jpg" alt="" width="50" height="50">
                <h3  class="name">林威儒</h3>
            </a>
            <span class="date">2021/7/2</span>
        </div> -->
        
        <!-- <img class="testImg" src="https://aru0828practicebucket.s3.ap-northeast-2.amazonaws.com/32f8f1e6e5f4e85227e6729fb138e809" alt=""> -->
       

        

        


       
        
    

    </main>
    

    <aside class="asideBar">
        <h3 class="commentBoard-title">
            <i class="prev-currentCommentId  bi bi-arrow-return-left"></i>
            留言區
            <i class="cancel-currentCommentId bi bi-arrow-counterclockwise"></i>
        </h3>
        
        <div class="commentBoard">
            <h5 class="replyTo"></h5>
            <ul class="comments">
                <li class="comment">
                    <img class="comment-author-img" src="../public/images/圖片.jpg" width="25" height="25"></img>
                    <div class="comment-content">
                        <p>ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p> 
                        <div class="comment-features">
                            <p>四天前</p>
                            <p>幾個讚</p>
                            <p>回覆</p>
                        </div>
                    </div>
                    <i class="bi bi-heart"></i>
                    
                </li>
                <li class="comment">
                    <img class="comment-author-img" src="../public/images/圖片.jpg" width="25" height="25"></img>
                    <div class="comment-content">
                        <p>ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p> 
                        <div class="comment-features">
                            <p>四天前</p>
                            <p>幾個讚</p>
                            <p>回覆</p>
                        </div>
                    </div>
                    <i class="bi bi-heart"></i>
                    
                </li>
                <li class="comment">
                    <img class="comment-author-img" src="../public/images/圖片.jpg" width="25" height="25"></img>
                    <div class="comment-content">
                        <p>ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p> 
                        <div class="comment-features">
                            <p>四天前</p>
                            <p>幾個讚</p>
                            <p>回覆</p>
                        </div>
                    </div>
                    <i class="bi bi-heart"></i>
                    
                </li>

                <li class="comment">
                    <img class="comment-author-img" src="../public/images/圖片.jpg" width="25" height="25"></img>
                    <p class="comment-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                    <i class="bi bi-heart"></i>
                </li>

            </ul>

            

        </div>

        <div class="article-comment-input">
            <img  width="25" height="25" alt="" class="user-avatar">
            <textarea name="" id="comment" cols="30" rows="1" placeholder="留言..."></textarea>
            <a href="" class="sendComment fas fa-share" data-artid=1></a>
        </div>
        <!-- <ul class="aside-list">
            <li class="mb-4">
                <div class="d-flex">
                    <img src="../public/images/圖片.jpg" alt="" with="120" height="120">
                    <div>
                        <h3 class="newPost-title mb-2">Mini GT civic</h3>
                        <span  class="newPost-price mb-2">$1200</span>
                    </div>
                </div>
                
                <div class="newPost-summary">
                    <h3 class="newPost-description mb-3">Lorem, ipsum dolor sit ameusantium ea? Pariatur accusantium sapiente sequi fugiat?</h3>  
                </div>
                
            </li>
        </ul> -->
        
    </aside>
</div>

<%- include('includes/footer') %>



</body>
<script type="module" src="../public/js/layout.js"></script>
<script type="module" src="../public/js/article.js"></script>
</html>
