<%- include('includes/head') -%>
<title>文章列表</title>
<link rel="stylesheet" href="../public/css/articles.css">
</head>

<body class="bg-primary-light">
<%- include('includes/header') -%>


<div class="index-main container articles-main">
    
    <main>
        <ul class="tags">
            <!-- <li><a href="#" class="tag">HTML</a></li>
            <li><a href="#" class="tag">CSS</a></li>
            <li><a href="#" class="tag">JavaScript</a></li> -->
        </ul>

      
        <ul class="toggleShow">
            <li>
                <a href="" class="newest">最新文章</a>  
            </li>
            <li >
                <a href="" data-display="hot" class="hot">熱門文章</a>
            </li>
            <li class="displayFollowingBtn" >
                <a href="" data-display="following" class="following">追蹤中</a>
            </li>
        </ul>
        
       
        <ul class="main-list">

        </ul>

        <div class="loading hidden">
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
              </div>
        </div>


    </main>
    

    <aside class="asideBar  px-3">
        <h3 class="aside-title">發現有趣的收藏</h3>
        <ul class="aside-list">
            <!-- <li>
                <div class="newPost-info">
                    <img src="../public/images/圖片.jpg" alt="" with="120" height="120">
                    <div>
                        <h3 class="newPost-title">Mini GT civic</h3>
                        <span  class="newPost-price">$1200</span>
                    </div>
                </div> -->
                
                <!-- <div class="newPost-summary">
                    <h3 class="newPost-description mb-3">Lorem, ipsum dolor sit ameusantium ea? Pariatur accusantium sapiente sequi fugiat?</h3>  
                </div> 
                
            </li> -->
        </ul>
        
        </aside>
</div>
<%- include('includes/loading') %>
<%- include('includes/footer') %>



</body>
<script type="module" src="../public/js/layout.js"></script>
<script type="module" src="../public/js/articles.js"></script>
</html>
