
    <%- include('includes/head') -%>
    <script src="/tinymce/tinymce.min.js" ></script>
    <title>發布文章</title>
</head>

<body class="bg-primary-light">
    <%- include('includes/header') -%>

    
    <div class="editPostForm postPage-main container main">
        <form action="" id="postForm">
            <h2 class="">編輯文章</h2>
<!-- 
            <div class="inputGroup">
                <label for="title">文章標籤 :&nbsp;</label>
                <input type="checkbox" value="模型車">模型車
                <input type="checkbox" value="郵票">Tomica
             </div> -->

            <div class="inputGroup">
                <label for="title">文章標題 :&nbsp;</label>
                <input type="text" id="title" required name="title">
             </div>

        
            <div class="inputGroup">
                <label for="summary">文章摘要 :&nbsp;</label>
                <input type="text" id="summary" name="summary">
            </div>

            <div class="inputGroup">
                <label for="">入手價格 :&nbsp;</label>
                <input type="number" id="price" name="price">
            </div>

            <div class="inputGroup ">
                <!-- <label for="">文章內容 :&nbsp;</label> -->
                <textarea id="editor" required></textarea>
             </div>
             
             <div class="inputGroup">
                <input type="submit" class="submitBtn"></input>
             </div>
            
             <div class="h1"></div>
             
        
        </form>
        
    </div>
    
   
<%- include('includes/footer') %>

    
  
</body>
<script type="module" src="/public/js/layout.js"></script>
<script type="module" src="/public/js/editPage.js"></script>
</html>



    
