<%- include('includes/head') -%>
<title>首頁</title>
</head>

<body class="">
    <%- include('includes/header') -%>


    <div class="banner ">
        <img src="/public/images/banner210722.jpg" alt="">
    </div>


    <!-- <ul class="toggleShow container">
        <li>最新文章</li>
        <li data-display="hot">熱門文章</li>
        <li data-display="following">追蹤中</li>
    </ul> -->


    <div class="index-main container main">

        <main>
            <div class="index-section">
                <div class="index-section-header">
                    <h3>最新文章</h3>
                    <a href="/articles">查看更多</a>
                </div>
                <div class="index-section-articles">
                    <ul class="newest-article-list ">
                    </ul>
                </div>
            </div>


            <div class="index-section">
                <div class="index-section-header">
                    <h3>人氣最高 <i class="fas fa-crown"></i> </h3>
                    <a href="/articles?display=hot">查看更多</a>
                </div>
                <div class="index-section-articles">
                    <ul class="popular-article-list">
                    </ul>
                </div>
            </div>

            <div class="index-section">
                <div class="index-section-header">
                    <h3>討論度最高 <i class="fas fa-fire-alt"></i></h3>
                    <!-- <a href="">查看更多</a> -->
                </div>
                <div class="index-section-articles">
                    <ul class="discussion-article-list">
                       
                    </ul>
                </div>
            </div>
        </main>



        <aside class="asideBar">
            <h3 class="aside-title">發現有趣的收藏</h3>
            <ul class="aside-list">
             
            </ul>

        </aside>
    </div>

    <%- include('includes/loading') %>
    <%- include('includes/footer') %>


    <style>

    </style>
    <script type="module" src="../public/js/layout.js"></script>
    <script type="module" src="../public/js/index.js"></script>
</body>

</html>