<!DOCTYPE html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/index.css">
    

    <title>首頁</title>
</head>
<body class="bg-primary-light">
    <header class="bg-primary">
        <nav class="container">
            <h1>
                <img src="./圖片.jpg" alt="" width=50 height=50>
            </h1>
            <input type="text" placeholder="搜尋">
            <ul class="header-nav-list">
                <li>登入</li>
                <li>註冊</li>
                <li>
                    <a class="text-white member-only" href="/post">文章列表</a>
                </li>
                <li>
                    <a class="text-white member-only" href="/post">新增文章</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="banner">
        <div class="container">
            <div class="banner-img"></div>
        </div>
    </div>
    
   
    <div class="index-main container">
        <ul class="hotPost-list px-5">
            <li class="mb-4">
                <img src="../static/images/圖片.jpg" alt="" with="150" height="150">
                <div class="hotPost-summary">
                    <h3 class="hotPost-author mb-2">
                        <a href="#">aru0828</a>     
                    </h3>
                   
                    <h3 class="hotPost-title mb-2">Mini GT civic</h3>
                    <span  class="hotPost-price mb-2">$1200</span>
                  
                    <h3 class="hotPost-description mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, voluptatum ea? Veritatis impedit accusantium ea? Pariatur accusantium sapiente sequi fugiat?</h3>
                   

                    <div class="hotPost-features">
                        <i class="bi bi-hand-thumbs-up"></i>
                        <i class="bi bi-chat-dots"></i>
                        <p class="hotPost-date">2021/06/20</p>
                    </div>
                    
                    
                </div>
                
            </li>

       

        </ul>

        <aside class="asideBar">
            <ul class="newPost-list px-5">
                <li class="mb-4">
                    <img src="../static/images/圖片.jpg" alt="" with="150" height="150">
                    <div class="newPost-summary">
                        <h3 class="newPost-author mb-2">
                            <a href="#">aru0828</a>     
                        </h3>
                       
                        <h3 class="newPost-title mb-2">Mini GT civic</h3>
                        <span  class="newPost-price mb-2">$1200</span>
                      
                        <h3 class="newPost-description mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, voluptatum ea? Veritatis impedit accusantium ea? Pariatur accusantium sapiente sequi fugiat?</h3>
                       
    
                        <div class="newPost-features">
                            <i class="bi bi-hand-thumbs-up"></i>
                            <i class="bi bi-chat-dots"></i>
                            <p class="newPost-date">2021/06/20</p>
                        </div>
                        
                        
                    </div>
                    
                </li>
    
           
    
            </ul>
            
        </aside>
    </div>

   

   
    <footer class="bg-secondary">
        <div class="container">
            <b>Copyright © 2021 Ru 版權所有</b>
        </div>
    </footer>

    
  
</body>
</html>