
<%- include('includes/head') -%>
<title>首頁</title>
</head>

<body class="bg-primary-light">
    <%- include('includes/header') -%>



    


    <div class="index-main container">
        <main>

            <!-- <div class="article">
                <div class="article-header">
                    <div class="author">
                        <img src="../public/images/default-user-icon.jpg" alt="" width="30" height="30">
                        <h3>ARU</h3>
                    </div>
                    <div class="features">
                        <i class="bi bi-three-dots"></i>
                    </div>
                </div>
                <div class="article-coverPhoto">
                    <img src="../public/images/photo-1416339134316-0e91dc9ded92.jpg" alt="">
                </div>
                <div class="article-features">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-chat-dots"></i>
                    <p>44個讚</p>
                </div>
                <div class="article-content">
                    aru title
                    <p></p>
                    summary
                </div>
                
                <p class="show-comment">查看更多留言</p>
                <div class="article-comment">
                    <div class="commentRow">
                        <span class="comment-author">test</span> <span>好開心1234</span>
                        <i class="bi bi-heart"></i>
                    </div>
                    <div class="commentRow">
                        <span class="comment-author">test</span> <span>好開心1234</span>
                        <i class="bi bi-heart"></i>
                    </div>
                </div>

                <div class="article-time">2019-23-32</div>
                <div class="article-comment-input">
                    <img src="../public/images/圖片.jpg" width="25" height="25" alt="" class="user-avatar">
                    <textarea name="" id="comment" cols="30" rows="1" placeholder="留言..."></textarea>
                    <a href="" class="sendComment" data-artid=1>發佈</a>
                </div>
            </div> -->
            <ul class="main-list">
                <!-- <li>
                    <a href="">
                        <img class="coverPhoto" src="../public/images/圖片.jpg" alt="">
                        <div class="summary">
                            <h3 class="author">
                                <a href="#">aru0828</a>
                            </h3>

                            <h3 class="title">Mini GT civic</h3>
                            <p class="price">$1200</p>
                            <h3 class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Quae, voluptatum ea? Veritatis impedit accusantium ea? Pariatur accusantium sapiente sequi
                                fugiat?</h3>

                            <div class="features">
                                <i class="bi bi-hand-thumbs-up"></i>
                                <i class="bi bi-chat-dots"></i>
                                <p class="date">2021/06/20</p>
                            </div>
                        </div>
                    </a>
                    
                </li> -->


            </ul>
        </main>


        <aside class="asideBar">
            <h3 class="aside-title">最新發布的收藏</h3>
            <ul class="aside-list">
                <!-- <li>
                    <img src="../public/images/圖片.jpg" alt="" >
                    <div class="newPost-summary">

                        <span class="newPost-title mb-2">Mini GT civic</span>
                        <span class="newPost-price mb-2">$1200</span>

                        <h3 class="newPost-description mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Quae, voluptatum ea? Veritatis impedit accusantium ea? Pariatur accusantium sapiente sequi
                            fugiat?</h3>

                    </div>

                </li> -->
            </ul>

        </aside>
    </div>

    <%- include('includes/footer') %>


    <style>
        
    </style>
    <script type="module" src="../public/js/layout.js"></script>
    <script type="module" src="../public/js/index.js"></script>
</body>

</html>