<script src="../public/js/index.js"></script>
<%- include('includes/head') -%>
<title>首頁</title>
</head>

<body class="bg-primary-light">
    <%- include('includes/header') -%>



    <div class="banner">

        <div class="banner-img"></div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../public/images/photo-1416339134316-0e91dc9ded92.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div>


    <div class="index-main container">
        <main>
            <ul class="main-list">
                <!-- <li>
                    <a href="">
                        <img class="coverPhoto" src="../public/images/圖片.jpg" alt="">
                        <div class="summary">
                            <h3 class="author">
                                <a href="#">aru0828</a>
                            </h3>

                            <h3 class="title">Mini GT civic</h3>
                            <p class="price">$1200</p>
                            <h3 class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Quae, voluptatum ea? Veritatis impedit accusantium ea? Pariatur accusantium sapiente sequi
                                fugiat?</h3>

                            <div class="features">
                                <i class="bi bi-hand-thumbs-up"></i>
                                <i class="bi bi-chat-dots"></i>
                                <p class="date">2021/06/20</p>
                            </div>
                        </div>
                    </a>
                    
                </li> -->


            </ul>
        </main>


        <aside class="asideBar">
            <ul class="aside-list">
                <!-- <li>
                    <img src="../public/images/圖片.jpg" alt="" >
                    <div class="newPost-summary">

                        <span class="newPost-title mb-2">Mini GT civic</span>
                        <span class="newPost-price mb-2">$1200</span>

                        <h3 class="newPost-description mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Quae, voluptatum ea? Veritatis impedit accusantium ea? Pariatur accusantium sapiente sequi
                            fugiat?</h3>

                    </div>

                </li> -->
            </ul>

        </aside>
    </div>

    <%- include('includes/footer') %>



</body>

</html>