<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body class="bg-body">
    <header class="bg-primary">
        <nav class="container">
            <h1>
                <img src="./圖片.jpg" alt="" width=50 height=50>
            </h1>
            <input type="text" placeholder="搜尋">
            <ul class="header-nav-list">
                <li>1</li>
                <li>2</li>
                <li>登入</li>
            </ul>
        </nav>
    </header>
<h1>133213</h1>
    </nav>
    
    <h1 class="text-test">5566</h1>


    <div class="main container"></div>

   

   
    <footer class="bg-secondary">
        <div class="container">
            <b>Copyright © 2021 Ru 版權所有</b>
        </div>
    </footer>
</body>
</html>