
<%- include('includes/head') -%>
<title>會員頁</title>
<link rel="stylesheet" href="../public/css/member.css">
</head>

<body class="">
    <%- include('includes/header') -%>


    <div class="member-main container main">
        <div class="member-info">
            <div class="member-summary">
                <img class="member-avatar" src="https://lh3.googleusercontent.com/a/AATXAJzEfmaKrkMGShzwYDv8nixCyyyWHd9wDi7Iig6a=s96-c" alt="">
                <div class="member-name">aru</div>
                <div class="member-qty">
                    <p class="follower-qty"><span></span> 位追蹤者</p>
                    <p class="post-qty">21 個收藏</p>
                </div>
                <a href="" class="follow-btn">追蹤</a>
            </div>
            <div class="member-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, cum reprehenderit consectetur modi quasi fugit repudiandae quis. Provident error perspiciatis quis temporibus, sequi facilis suscipit aut unde alias excepturi libero.</p>
            </div>
        </div> 
        <p class="no-post"></p>
        <ul class="member-post">
            <!-- <li>
                <img src="https://aru0828practicebucket.s3.ap-northeast-2.amazonaws.com/48620200979d2e6e7e5e69458b7e3fea" alt="">
                <a href="/article/12">
                    <div class="hover-effect">
                        <p class="bi bi-heart-fill">
                            <span>16</span>
                        </p>
                        <p class="bi bi-chat-fill">
                            <span>22</span>
                        </p>
                    </div>
                </a>
            </li> -->
            <!-- <li>
                <a href="">
                    <img src="https://aru0828practicebucket.s3.ap-northeast-2.amazonaws.com/6293df2f108967b2a21748b5e926a14e" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://aru0828practicebucket.s3.ap-northeast-2.amazonaws.com/2494ac23a0694450afcf58f8220bc319" alt="">
                </a>
            </li>



            <li>
                <a href="">
                    <img src="https://aru0828practicebucket.s3.ap-northeast-2.amazonaws.com/48620200979d2e6e7e5e69458b7e3fea" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://aru0828practicebucket.s3.ap-northeast-2.amazonaws.com/6293df2f108967b2a21748b5e926a14e" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://aru0828practicebucket.s3.ap-northeast-2.amazonaws.com/2494ac23a0694450afcf58f8220bc319" alt="">
                </a>
            </li> -->
        </ul> 

    </div>
    <%- include('includes/loading') %>
    <%- include('includes/footer') %>


    <style>
        
    </style>
    <script type="module" src="../public/js/layout.js"></script>
    <script type="module" src="../public/js/member.js"></script>
</body>

</html>