
<%- include('includes/head') -%>
<title>會員頁-蒐藏故事館</title>
<link rel="stylesheet" href="../public/css/member.css">
</head>

<body class="">
    <%- include('includes/header') -%>


    <div class="member-main container main">
        <div class="member-info">
            <div class="member-summary">
                <img class="member-avatar" src="https://lh3.googleusercontent.com/a/AATXAJzEfmaKrkMGShzwYDv8nixCyyyWHd9wDi7Iig6a=s96-c" alt="">
                <div class="member-name">aru</div>
                <div class="member-qty">
                    <p class="follower-qty"><span></span></p>
                    <p class="post-qty"></p>
                </div>
                <a href="" class="follow-btn">追蹤</a>
            </div>
            <div class="member-description"></p>
            </div>
        </div> 
        <p class="no-post"></p>
        <ul class="member-post">
        </ul> 

    </div>
    <%- include('includes/loading') %>
    <%- include('includes/footer') %>


    <style>
        
    </style>
    <script type="module" src="../public/js/layout.js"></script>
    <script type="module" src="../public/js/member.js"></script>
</body>

</html>