<%- include('includes/head') -%>
<title>文章列表</title>
<link rel="stylesheet" href="../public/css/memberEdit.css">
</head>

<body class="">
    <%- include('includes/header') -%>


    <div class="memberEdit container main">
        <form class="member-card">
            <div class="avatar">
                <p>大頭貼照</p>
                <div class="imgBox">
                    <img src="../public/images/default-user-icon.jpg" alt="" width="150" height="150">
                </div>
                
                <input class="newAvatar" type="file" title="變更大頭貼照">
            </div>
            <div class="info">
                <div class="inputGroup">
                    <label for="">電子郵件</label>
                    <input id="email" type="text" value="test@yahoo.com.tw" readonly>
                </div>

                <div class="inputGroup">
                    <label for="">用戶名稱</label>
                    <input id="username" type="text" value="aru">
                </div>

                <div class="inputGroup">
                    <label for="">自我介紹</label>
                    <textarea id="story" name="story" rows="5" cols="33">
               
                    </textarea>
                </div>

                <div class="inputGroup">
                    
                    <input id="submit" type="submit" class="">
                </div>

            </div>
        </form>
    </div>

    <%- include('includes/loading') %>
    <%- include('includes/footer') %>



</body>
<script type="module" src="../public/js/layout.js"></script>
<script type="module" src="../public/js/memberEdit.js"></script>

</html>