<%- include('includes/head') -%>
<script src="/tinymce/tinymce.min.js"></script>
<title>分享蒐藏</title>
</head>

<body class="bg-primary-light">
    <%- include('includes/header') -%>


    <div class="postPage-main container main">
        <form id="postForm">
            <h2 class="">分享蒐藏</h2>

            <div class="inputGroup tagGroup">
                <label for="title">&ensp;蒐藏標籤 :&nbsp;</label>

            </div>

            <div class="inputGroup">
                <label for="title"><i>*</i>蒐藏標題 :&nbsp;</label>
                <input type="text" id="title" required>
            </div>


            <div class="inputGroup">
                <label for="summary">&ensp;蒐藏摘要 :&nbsp;</label>
                <input type="text" id="summary">
            </div>

            <div class="inputGroup">
                <label for=""><i>*</i>上傳照片 :&nbsp;</label>
                <input type="file" id="coverPhoto" name="coverphoto" accept="image/gif, image/jpeg, image/png" required>
            </div>

            <div class="inputGroup">
                <label for="">&ensp;入手價格 :&nbsp;</label>
                <input type="number" id="price">
            </div>

            <div class="inputGroup ">
                <!-- <label for="">蒐藏內容 :&nbsp;</label> -->
                <textarea id="editor"  placeholder=""></textarea>
            </div>

            <div class="inputGroup">
                <input type="submit" class="submitBtn"></input>
            </div>



        </form>

    </div>

    <%- include('includes/loading') %>
    <%- include('includes/footer') %>



</body>
<script type="module" src="../public/js/layout.js"></script>
<script type="module" src="../public/js/postPage.js"></script>

</html>