/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 975px;
  margin: 0 auto;
}

input[type=submit]:hover {
  background: #0b4386;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

*, *::after, *::before {
  box-sizing: border-box;
}

img {
  display: block;
}

.main {
  min-height: 80vh;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background: #eee;
}

.none {
  display: none;
}

.bi-heart-fill {
  color: red;
}

header {
  border-bottom: 1px solid #eee;
  background: #1057AD;
  color: white;
}

header nav {
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  position: relative;
  color: white;
}

header nav h1 a {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

header nav .searchBar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

header nav .searchBar .searchBar-input-group {
  position: relative;
}

header nav .searchBar .keyWordSearch {
  width: 150px;
  height: 24px;
  margin-right: 0px;
  padding: 0 26px 0 8px;
  border-radius: 5px;
  border: 0;
}

header nav .searchBar .keyWordSearch:focus {
  outline: 0;
}

header nav .searchBar .searchBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  border-left: 1px solid #eee;
}

header nav .header-nav-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
}

header nav .header-nav-list .memberLink {
  height: 32px;
  padding: 0;
}

header nav .header-nav-list .memberImg {
  border-radius: 50%;
}

header nav .header-nav-list li {
  margin-right: 10px;
}

header nav .header-nav-list li a {
  padding: 4px;
  color: white;
}

header nav .header-nav-list li:first-child {
  margin-right: 0;
}

header nav .header-nav-list .signin {
  margin-right: 0;
}

header nav .header-nav-list .member-only, header nav .header-nav-list .visitor-only {
  display: none;
}

header nav .header-nav-list .member-only.active, header nav .header-nav-list .visitor-only.active {
  display: block;
}

header nav .header-nav-list .collapase.active {
  transform: scaleY(1);
}

header nav .header-nav-list .collapase {
  position: absolute;
  top: 100%;
  bottom: 50px;
  right: 0px;
  z-index: 99;
  transform: scaleY(0);
  transition: all 0.3s;
}

header nav .header-nav-list .collapase ul {
  display: flex;
  flex-direction: column;
  background: #2d3e4e;
  border-radius: 5px;
  overflow: hidden;
}

header nav .header-nav-list .collapase ul li {
  margin-right: 0;
}

header nav .header-nav-list .collapase ul li a {
  display: block;
  padding: 15px;
  color: white;
}

@media (max-width: 975px) {
  header nav {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  header nav .phoneHidden {
    display: none;
  }
}

footer {
  padding: 30px 0;
  color: white;
  background: #1057AD;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: #ffffff;
  transition: all 0.5s;
  transform-origin: bottom;
}

.loading-transparent {
  background: rgba(0, 0, 0, 0.3);
}

.loading.hidden {
  transform: scale(1, 0);
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.postPage-main {
  margin-top: 60px;
}

#postForm, #editForm {
  margin-top: 60px;
  width: 75%;
  background: #fbfbfb;
  margin: 0 auto 60px auto;
}

#postForm .tagGroup, #editForm .tagGroup {
  gap: 8px;
}

#postForm .tagGroup label, #editForm .tagGroup label {
  flex-shrink: 0;
}

#postForm .tagGroup .tags, #editForm .tagGroup .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

#postForm .tagGroup .tag, #editForm .tagGroup .tag {
  display: flex;
}

#postForm .inputGroup, #editForm .inputGroup {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

#postForm .inputGroup label i, #editForm .inputGroup label i {
  color: #d00000;
}

#postForm .inputGroup input[type="text"], #postForm .inputGroup input[type="number"], #editForm .inputGroup input[type="text"], #editForm .inputGroup input[type="number"] {
  border: 0px;
  padding: 5px;
  flex-grow: 1;
  background: #fbfbfb;
}

#postForm .inputGroup iframe, #editForm .inputGroup iframe {
  background: #fbfbfb;
}

#postForm .inputGroup .tox .tox-toolbar, #postForm .inputGroup .tox .tox-toolbar__overflow, #postForm .inputGroup .tox .tox-toolbar__primary, #editForm .inputGroup .tox .tox-toolbar, #editForm .inputGroup .tox .tox-toolbar__overflow, #editForm .inputGroup .tox .tox-toolbar__primary {
  background: #fbfbfb;
}

#postForm .inputGroup .tox .tox-statusbar, #editForm .inputGroup .tox .tox-statusbar {
  background: #fbfbfb;
}

#postForm .inputGroup input:focus-visible, #editForm .inputGroup input:focus-visible {
  outline: 0;
}

.postPage-main h2 {
  background: #1057AD;
  padding: 8px 0;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.postPage-main .submitBtn {
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: 0px;
  padding: 5px;
  flex-grow: 1;
  background: #1057AD;
}

@media (max-width: 768px) {
  #postForm, #editForm {
    width: 95%;
  }
}
/*# sourceMappingURL=postPage.css.map */