

.article-main{
    // 讓aside等高
    // align-items: stretch;
    main{
        margin-right: 0;
        padding-right: 0;
        .article-title{
            margin-bottom: 16px;
            padding-left:16px;
            font-size: 20px;
            font-weight: bold;
        }

        .article-summary{
            padding-left:16px;
            margin-bottom: 16px;
        }
        .article-coverPhoto{
            margin-bottom: 30px;
          
            background: #000;
        }

        .article-content{
           margin-bottom: 15px;
        }

        .article-features{
            display:flex;
            margin:15px 0 ;
            .article-features-box{
                display:flex;
                align-items: center;
                margin-right: 15px;
                i{
                    margin-right: 4px;
                }
            }
        }
    }

    aside{
        margin-top: 30px;
        padding:0 0 30px 0px;
        
    }
}



aside{
    background: pink;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    // border-left:0px;
    border-top: 0;
    position: sticky;
    top: 0;

    img{
        border-radius: 50%;
    }
    .commentBoard-title{
        padding:16px;
        line-height: 30px;
        border: 1px solid rgba(var(--b6a,219,219,219),1);
        display:flex;
        align-items: center;
        
        i{
            font-size: 14px;
            display:inline-block;
            margin-right: 16px;
        }

        .cancel-currentCommentId{
            margin-left: auto;
        }
    }
    .commentBoard{
        padding:16px;
        height: 500px;
        overflow-y:scroll;

        .replyTo{
            font-size: 12px;
            margin-bottom: 8px;
        }

        .comments{
            
            .sub-comment{
                padding-left:37px;
            }
            .comment{
                display:flex;
                padding-bottom: 16px;
                
                .comment-author-img{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
                .comment-content{
                    // display:flex;
                    // flex-direction: column;
                    word-break: break-all;
                    padding:0 12px;
                    margin-bottom: 8px;
                    font-size: 14px;
                    line-height: 18px;
                    p{
                        margin-bottom: 8px;
                    }
                    .comment-info{
                        display:flex;
                        font-size: 12px;
                        margin-top: 8px;
                        p{
                            margin-right: 12px;
                        }
                        p:last-child{
                            margin-right: 0;
                        }
                    }
                }
                i{
                    margin-left:auto;
                    font-size: 12px;
                    align-self: center;
                }
            }
        }
    }

    .article-comment-input{
        padding:0 16px;
        display:flex;
        border-top: 1px solid black;
        
        padding:8px 16px;

        .user-avatar{
            width: 25px;
            height: 25px;
        }
        textarea{
            width: auto;
            flex-grow: 1;
            resize: vertical;
            border: none;
            overflow: auto;
            outline: none;
            box-shadow: none;
        }
    }

}