
@import '../helpers/allShare';



.banner{
    // height: 500px;
    margin:0 auto 36px auto;
    
    // background-image: url('/public/images/photo-1416339134316-0e91dc9ded92.jpg');
    // background-size: fill;
    img{
        width: 100%;
        height: auto;
    }
    .carousel-item {
        width: 100%;
        height: 100%;
        img{
            object-fit: contain;
        }
        
    }
   

    // .banner-img{
    //    background-image:url("../images/photo-1416339134316-0e91dc9ded92.jpg");
    //    height: 100%;
    //    background-repeat: no-repeat;
    //    background-size:cover;
    //    background-position: 50% 0%;
    // }
}

// i{
//     font-size: 24px;
// }


.toggleShow{
   display:flex;
   margin-bottom: 15px;
  
   li{   
       margin-right: 5px;
   }
   a{
    background: #eee;
    border-radius: 3px 3px 0 0px;
    color: #999;
    padding:6px 15px;
    display:block;
    // border-radius: 15px 15px 0 0;
   }
   a:hover, a.active {
    background-color: #1057AD;
    color: white;
    text-decoration: none;
  }
  
  a:hover::after ,a.active{
     border-left-color: #1057AD; 
    //  crimson
  }
   
}

.index-main{
    display:flex;
    position: relative;
    margin-bottom: 60px !important;
    // padding-top: 30px;
    align-items: flex-start;
    main{
        min-height: 680px;
        width: 75%;
        margin-right: 32px;
        background: $light-gray-color;
        padding:30px 32px;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .main-list{
       
        li{
            display:flex;
           
            // padding-bottom: 24px;
            margin-bottom: 36px;
            border:1px solid #cacaca;
            border-radius: 5px 5px 5px 5px;
            .not-found{
                font-size: 20px;
                margin:15px auto 15px auto;
            }

            // coverPhoto-container
            .coverPhotoLink{
                overflow: hidden;
                display: block;
                width: 225px;
                flex-shrink: 0;
            }
            .coverPhoto{
                width: 100%;
                height: 225px;
                border-radius: 5px 0 0 5px;
                border:1px solid #cacaca;
                object-fit: contain;
                background: #fafafa;
                transition: all 0.5s;
               
                // padding:8px;
                // border:1px solid black;
            }
            .coverPhoto:hover{
                transform: scale(1.1);
            }
            .summary{
                padding: 8px 16px;
                display:flex;
                flex-direction: column;
                overflow: hidden;
                flex-grow: 1;
                
                .author{
                    display:flex;
                    align-items: center;
                 
                    width: 100%;
                    margin-bottom: 12px;
                    
                    img{
                        display:inline-block;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        margin-right: 8px;
                    }

                    h3{
                        margin-right: 8px;
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    // 時間
                    span{
                        font-size: 12px;
                        color: #757575;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .title{
                    margin-bottom: 12px;
                    font-size: 18px;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: normal;

                }
                .price{
                    margin-bottom: 12px;
                    color: rgba(117, 117, 117, 1);
                    font-size: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: normal;

                }

                .content{
                    color: rgba(117, 117, 117, 1);
                    font-size: 14px;
                    margin-bottom: 12px;
                    line-height: 24px;
                    
                    display: -webkit-box;
                    height: 72px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                   
                }

                .features{
                    font-size: 16px;
                    justify-self: flex-end;
                    display: flex;
                    align-items: center;
                    margin-top: auto;
                    width: 100%;
                   
                    i, a{
                        display:block;
                        margin-right:8px;
                        font-size: 16px;
                        span{
                            display:inline-block;
                            margin-left: 4px;
                        }
                    }
                    .date{
                        margin-left: auto;
                    }
                }
            }
        }
    }
    aside{
        width: 25%;
        background: $light-gray-color;
        padding:30px 8px;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .aside-title{
            border-left:3px solid #1057AD;
            
            margin-left: 4px;
            padding-left: 4px;
        }
        .aside-list{
           
            padding:24px 4px 0 4px;
            display:flex;
            flex-direction: column;

            .aside-article-link{
                display:block;
                width: 100%;
            }
            li{
                display:flex;
                margin-bottom: 24px;
                width: 100%;
                border:1px solid #cacaca;
                border-radius: 5px;
            }
           
          
            img{
                object-fit: fill;
                border-radius: 5px 0 0 5px;
                width: 90px;
                height: 90px;
             
                // border-radius: 50%;
            }
        }
    }
}




@media(max-width:968px){
    .index-main{
        main{
            width: 95%;
            
            margin:0 auto;

            
        }
        aside{
            display:none;
        }
    }
}

@media(max-width:575px){
    .index-main{
        main{
            padding:30px 16px;
        }
        .main-list{
            li{
                .coverPhotoLink{
                    width: 200px;
                    .coverPhoto{
                       
                       
                    }
                }
                .summary{
                    padding:8px;
                    .author{
                        flex-wrap: wrap;
                        img{
                          
                        }
                        h3{
                         
                        }
                        // 時間
                        span{
                            display:inline-block;
                            width: 100%;
                            margin-left: 0px;
                            margin-top: 4px;
                        }
                    }
                    .title{
                        margin-bottom: 4px;
                    }
                    .content{
                       line-height: 20px;
                       height:60px;
                    }
                    .features{          
                        i, a{
                            font-size: 12px;
                            margin-right:4px;
                            span{
                                margin-left: 2px;
                            }
                        }
                   
                    }
                }
             
        }
    }
}
}


@media(max-width:414px){
    .index-main{
        .main-list{
            li{
                flex-direction: column;
                .coverPhotoLink{
                    width: 100%;
                    .coverPhoto{
                       
                       
                    }
                }
                .summary{
                 
                    .content{
                        display:none;
                    }   
                }
                
             
        }
    }
}
}



.newPost-summary{
    overflow: hidden;
}
.newPost-description{
    display: block;
  display: -webkit-box;
  height: 50px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newPost-info{
    display:flex;
    align-items: center;
    
    .aside-coverPhoto{
        overflow: hidden;
        margin-right: 8px;
        img{
            
            transition: all 0.3s;
        }
        img:hover{
            transform: scale(1.1);
        }
    }
   

    .newPost-text{
        flex-grow: 1;
        align-self: flex-start;
        padding-top: 15px;
        h3{
            
            font-size: 14px;
            margin-bottom: 8px;
            font-weight: bold;
            max-width: 107px;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: normal;  
        }
        .newPost-price{
            font-size: 12px;
            color:#757575;
            display:inline-block;
            max-width: 107px;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
   
}


.index-section{

    display:flex;
    flex-direction: column;
    margin-bottom: 60px;
    .index-section-header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-left:10px solid $primary-color;
        margin-bottom: 24px;
        padding-right: 15px;
        h3{
            font-size: 18px;
            width: 150px;
            padding:8px 0 8px 8px;
            background: $primary-color;
            color:white;
            border-left:6px solid white;
            
            .fa-crown{
                color:#ffc107;
            }
            .fa-fire-alt{
                color:red;
            }
           
        }
        a{

        }
    }

    .index-section-articles{
        .article-list, .newest-article-list, .popular-article-list, .discussion-article-list{
            display:flex;
            justify-content: space-between;
            li{
                // padding:0px 8px;
                width: 32%;
                border:1px solid #cacaca;
                border-radius: 5px;
                
                a{
                    display:block;
                }
                .article-img{
                    
                    margin-bottom: 15px;
                    width: 100%;
                    border-radius: 5px 5px 0 0;
                    border-bottom: 1px solid #8f8f8f;
                    overflow: hidden;
                    img{
                        object-fit: fill;
                        width: 100%;
                        height: 100%;
                        aspect-ratio:4/3;
                        transition: all 0.5s;
                    }
                }

                .article-img:hover{
                    
                    img{
                        transform: scale(1.1);
                    }
                }
                p{  
                    // height:50px;
                    // font-size: 14px;
                    // overflow: hidden;
                    // display: -webkit-box;
                    // -webkit-line-clamp: 1;
                    // -webkit-box-orient: vertical; 
                }

                .article-content{
                    padding:0px 8px 12px 8px;
                    font-size: 14px;
                    .article-title{
                        margin-bottom: 8px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        line-height: normal;
                    }
                    .article-summary{
                        color:#757575;
                        font-size: 10px;
                    }
                }

                
            }
            
        }
    }
}