@import '../helpers/allShare';

.memberEdit{
    display:flex;
    justify-content: center;
    align-items: center;
    .member-card{
        display: flex;
        justify-content: space-between;
        
        max-width: 60%;
        height: 400px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        

        .avatar{
            width: 45%;
            text-align: center;
            padding:60px 30px 48px 30px;
            background: #1057AD;
            text-align: center;
            border-radius: 5px;
            p{
                color:white;
                margin-bottom: 15px;
            }


            .imgBox{
                width: 100%;
                display:flex;
                justify-content: center;
            }
            img{
                width: 125px;
                height: 125px;
                // padding-left:48px;
                border-radius: 50%;
                margin-bottom: 15px;
            }

            .newAvatar{
               
                color:white;
                width: 170px;
                
            }
        }

        .info{
            width: 60%;
            background: $light-gray-color;
            padding:60px 15px 48px 15px;
            border-radius: 5px;
            .inputGroup{
                margin-bottom: 15px;
                width: 100%;
                label{
                    display:inline-block;
                    margin-right: 15px;

                    margin-bottom: 8px;
                }
                input, textarea{
                    width: 100%;
                    
                }
                input[type=submit]{
                    border-radius: 5px;
                    font-weight: bold;
                    width: auto;
                    background: #1057AD;
                    color:white;
                    border:0px;
                    padding:4px 12px;
                    cursor: pointer;
                }
                input[type=submit]:hover{
                    background: #0b4386;
                }
            }
            .inputGroup:last-child{
                text-align: right;
                justify-self: flex-end;
                justify-content:center;
            }
            
        }
    }
}

@media(max-width:768px){
    .memberEdit{
        .member-card{
            max-width: 90%;
            
        }
    }
}


@media(max-width:576px){
    .memberEdit{
        .member-card{
            max-width: 90%;
            flex-direction: column;
            height: auto;
            margin:60px 0;
          
            .avatar{
                width: 100%;
                padding:30px 30px 24px 30px;
            }
            .info{
                width: 100%;
            }
        }
    }
}