
@import '../helpers/allShare';

.signin{
    display:flex;
    justify-content: center;
    
    .signinForm.active{
        display:block;
    }
    .signinForm{
        width: 60%;
        background: white;
        padding:60px 48px 0px 48px;
        margin-top: 60px;
        margin-bottom: 100px;
        border-right:40px solid $primary-color;
        box-shadow: 0 0 8px gray;
        display: none;
        
        .inputGroup{
            flex-direction: column;
            margin-bottom: 15px;
        }
        label{
            font-size: 12px;
            margin-bottom: 8px;
            display: inline-block;
            letter-spacing: 0.125rem;

        }
        input{
            background: #E5E5E5;
            border:0;
            line-height: 30px;
            padding:0 5px;
            width: 100%;
        }

        h2{
            font-size: 24px;
            font-weight: bold;
            color:$primary-color;
            margin-bottom: 20px;
            letter-spacing: 0.125rem;
        }

        .signinBtn{
            cursor: pointer;
            border:0px;
            font-size: 16px;
            display:block;
            text-align: center;
            padding:10px 0;
            margin-top: 15px;
            font-weight: bold;
            letter-spacing: 0.125rem;
            line-height: 1rem;
            width: 100%;
            background:$primary-color;
            color:white;
            i{
                font-size: 1rem;
            }
        }

        .serarate{
            margin-top: 15px;
            text-align: center;
            color:gray;
        }
        .githubBtn{
            // background: #F7F7F7;
            // color:#1A1E22;
            background: #1A1E22;
            
        }
        .fbBtn{
            background: #1877F2;
        }
        .googleBtn{
            background: #DF4930;
        }

        .toggleBtn{
            text-align: center;
            margin:30px 0px 30px 0px;
            font-size: 14px;
            a{
                color:gray;
            }
        }
    }
}

@media(max-width:992px){
   .signin{

    .signinForm{
        width: 80%;
    }
   }
    
}

@media(max-width:576px){
    .signin{

        .signinForm{
            padding: 30px 12px 0px 12px;
            border-right:24px solid $primary-color;
        }
    }
    
}

