
footer{
    
   
    padding:30px 0;
    color: white;
    background: $primary-color;
    .container{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

