// @import '../helpers/allShare';

header{
   
    border-bottom:1px solid #eee;
    background: $primary-color;
    
    color:white;
    nav{
        padding:12px 0px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        
        position: relative;
        color:white;
        // color:black;
        // background: white;
        h1{
            a{  
                font-size: 20px;
                font-weight: bold;
                color:white;
            }
        }
        .searchBar{
            position: absolute;
                left:50%;
                transform: translate(-50%, 0);

            .searchBar-input-group{
                position: relative;
                
            }
            .keyWordSearch{
                width: 150px;
                height: 24px;
                margin-right: 0px;
                padding:0 26px 0 8px;
                border-radius: 5px;
                border: 0;
            }
            .keyWordSearch:focus{
                outline: 0;
            }
            
            .searchBtn{
                cursor: pointer;
                position: absolute;
                right:0;
                top:50%;
                transform: translateY(-50%);
                
                background: none;
                border: none;
                border-left:1px solid #eee;
            }
        }
        

        .header-nav-list{
            display: flex;
            
            flex-direction: row-reverse;
            align-items: center;
            color: white;
        
            
            .memberLink{
                height: 32px;
                padding: 0;
            }
            .memberImg{
                border-radius: 50%;
            }
            li{
                margin-right: 10px;
                a{
                    padding:4px;
                    color: white;
                }
            }
            li:first-child{
                margin-right: 0;
            }
            
            .signin{
                margin-right: 0;
            }

            .member-only, .visitor-only{
                display:none;
            }
            .member-only.active, .visitor-only.active{
                display:block;
            }


            .collapase.active{
                transform: scaleY(1);
            }
            .collapase{
                position: absolute;
                top:100%;
                bottom:50px;
                right:0px;
                z-index: 99;
                transform: scaleY(0);
                transition: all 0.3s;
                ul{
                    display:flex;
                    flex-direction: column;
                    background: rgb(45,62,78);
                    border-radius: 5px;
                    overflow: hidden;

                    li{
                        margin-right: 0;
                        a{
                            display: block;
                            padding: 15px ;
                            color:white;
                        }
                    }
                }
            }
        }
    }
}


@media(max-width:975px){
    
    header{
        
        nav{
            width: 95%;
            margin:0 auto;
           
        }
    }
}


@media(max-width:768px){
    
header{
   
    
    
    nav{
      
       .phoneHidden{
           display:none;
       }
    }
}
}


@media(max-width:375px){
  header{
      nav{
        .searchBar{
            .keyWordSearch{
                width: 90px;
               
            }
        }
      }
  }
}