@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');

a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}

*, *::after, *::before{
    box-sizing: border-box;
}



.main{
    min-height: 90vh;
}

body{
    // letter-spacing: 0.125rem;
    font-family: 'Noto Sans TC', sans-serif;
    background: #fafafa;
}

.none{
    display:none;
}

.container{
    max-width: 975px;
    margin:0 auto;
}

.bi-heart-fill{
    color:red;
}